body {
  background-color: rgb(230,230,230);
}

* {
  box-sizing: border-box;
}

div.header {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  text-shadow: 1.5px 1.5px 0px rgba(30,30,30,0.5);
}

div.card {
  border: 5px solid rgb(60,60,60);
  text-align: center;
  max-width: 335px;
  height: auto;
  display: block;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 10px 10px 5px rgba(30,30,30,0.5);
  border-radius: 10px;
  background-color: white;
  background-image: linear-gradient(135deg, rgb(166,166,166), rgb(217,217,217));
  background-image: linear-gradient(135deg, rgb(230, 172, 0), rgb(255, 236, 179));
}

div.card h3 {
  font-size: 20px;
  margin: 15px;
}

div.card p{
  font-size: 17px;
}

div.frame {
  width: 100%;
  height: auto%;
  margin: 0px auto;
}

div.frame img {
  width: 100%;
  height: 100%;
  border: 10px ridge azure;
}

